<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780679008772-epekkrv60eanmqs0mbv9nevktajpl6aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780679008772-epekkrv60eanmqs0mbv9nevktajpl6aq</string>
	<key>API_KEY</key>
	<string>AIzaSyAFCCOgqQzLQNsOz0ud5J0oHSFmufE1HTA</string>
	<key>GCM_SENDER_ID</key>
	<string>780679008772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.norimitsu-tanaka.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-9bdb1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-9bdb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780679008772:ios:ff016fff869a2d37</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-9bdb1.firebaseio.com</string>
</dict>
</plist>